@model IEnumerable<AdvisingAssistant.Models.Schedule>

@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>

<table class="table">
    <thead>
        <tr>
            <th>Current Classes</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Location</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Course.Name</td>
                <td>@schedule.Course.Subject</td>
                <td>@schedule.Course.CourseNumber</td>
                <td>@schedule.Location</td>
                <td>@schedule.Time</td>
            </tr>
        }
    </tbody>
</table>
