@model IEnumerable<AdvisingAssistant.Models.Schedule>

@{
    ViewData["Title"] = "Major";
}
<head>
    <style>
        table {
            width: 1000px; /* Set a fixed width for the tables */
            height: 100px; /* Set a fixed height for the tables */
            border-collapse: collapse;
            margin: 20px;
        }

        /* Styling for table cells to ensure uniformity */
        td {
            border: 1px solid #000; /* Add border around each cell */
            text-align: center;
            vertical-align: middle; /* Center text vertically */
            width: 100px; /* Set width for each cell */
            height: 50px; /* Set height for each cell */
        }

        /* Styling for table headers */
        th {
            background-color: #f2f2f2;
            border: 1px solid #000;
            text-align: center;
            vertical-align: middle;
            width: 100px;
            height: 50px;
        }
    </style>
</head>

<h1>Major Degree Plan</h1>

<p>
    @*<a asp-action="Create">Add New Course</a>*@
</p>

@if (@User.Identity?.Name == "marco@student.edu")
{
    <h1>English Major</h1>

    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisite 1</th>
            <th>Course Prerequisite 2</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>Rhetoric & Composition I</td>
            <td>ENGL</td>
            <td>1301</td>
            <td>None</td>
            <td>None</td>
            <td>Completed</td>
		</tr>
		<tr>
			<td>Rhetoric & Composition II</td>
			<td>ENGL</td>
			<td>2302</td>
            <td>Rhetoric & Composition I</td>
            <td>None</td>
            <td>In Progress</td>
		</tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
		</tr>
		<tr>
			<td>Composition Theory & Pedagogy</td>
			<td>ENGL</td>
			<td>3405</td>
            <td>Rhetoric & Composition I</td>
            <td>Rhetoric & Composition II</td>
            <td>Pending</td>
		</tr>
    </table>
}

@if (@User.Identity?.Name == "nathan@student.edu")
{
    <h1>Math Major</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisite 1</th>
            <th>Course Prerequisite 2</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>College Algebra</td>
            <td>MATH</td>
            <td>1314</td>
            <td>None</td>
            <td>None</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>Linear Algebra</td>
            <td>MATH</td>
            <td>2318</td>
            <td>College Algebra</td>
            <td>None</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Number Theory</td>
            <td>MATH</td>
            <td>3415</td>
            <td>College Algebra</td>
            <td>Linear Algebra</td>
            <td>Pending</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "aneyda@student.edu")
{
    <h1>Computer Science Major</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisite 1</th>
            <th>Course Prerequisite 2</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>Intro to Computer Science</td>
            <td>CSCI</td>
            <td>1101</td>
            <td>None</td>
            <td>None</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>Computer Science I</td>
            <td>CSCI</td>
            <td>2302</td>
            <td>Intro to Computer Science</td>
            <td>None</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Senior Project</td>
            <td>CSCI</td>
            <td>3410</td>
            <td>Intro to Computer Science</td>
            <td>Computer Science I</td>
            <td>Pending</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "jorge@student.edu")
{
    <h1>Political Science Major</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisite 1</th>
            <th>Course Prerequisite 2</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>U.S. Fed Gov & Pol</td>
            <td>POLS</td>
            <td>1304</td>
            <td>None</td>
            <td>None</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>TX Gov & Pol</td>
            <td>POLS</td>
            <td>2306</td>
            <td>U.S. Fed Gov & Pol</td>
            <td>None</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Senior Project</td>
            <td>POLS</td>
            <td>3302</td>
            <td>U.S. Fed Gov & Pol</td>
            <td>TX Gov & Pol</td>
            <td>Pending</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "steph@student.edu")
{
    <h1>History Major</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisite 1</th>
            <th>Course Prerequisite 2</th>
            <th>Progress</th>
        </tr>
        <tr>
            <td>U.S. History I</td>
            <td>HIST</td>
            <td>1344</td>
            <td>None</td>
            <td>None</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>U.S. History II</td>
            <td>HIST</td>
            <td>2354</td>
            <td>U.S. History I</td>
            <td>None</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Elective</td>
            <td>MISC</td>
            <td>0000</td>
            <td>See course page for more details</td>
            <td>See course page for more details</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>Composition Theory & Pedagogy</td>
            <td>HIST</td>
            <td>3346</td>
            <td>U.S. History I</td>
            <td>U.S. History II</td>
            <td>Pending</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "marco@advisor.edu" || @User.Identity?.Name == "nathan@advisor.edu")
{
    <p>
        Please input the email of the student who's Major you wish to see.
    </p>

    <form asp-action="AdvisorMajor">
        <label for="email">Email Address:</label>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>
}