@model IEnumerable<AdvisingAssistant.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        table {
            width: 1000px; /* Set a fixed width for the tables */
            height: 100px; /* Set a fixed height for the tables */
            border-collapse: collapse;
            margin: 20px;
        }

        /* Styling for table cells to ensure uniformity */
        td {
            border: 1px solid #000; /* Add border around each cell */
            text-align: center;
            vertical-align: middle; /* Center text vertically */
            width: 100px; /* Set width for each cell */
            height: 50px; /* Set height for each cell */
        }

        /* Styling for table headers */
        th {
            background-color: #f2f2f2;
            border: 1px solid #000;
            text-align: center;
            vertical-align: middle;
            width: 100px;
            height: 50px;
        }
    </style>
</head>

<h1>Roadmap</h1>

<p>
    @*<a asp-action="Create">Add New Course</a>*@
</p>

@if (@User.Identity?.Name == "marco@student.edu")
{
    <p>Marco's Future Semester 1</p>
    <table>
        <tr>
            <th>Recommendation 1</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>College Algebra</td>
            <td>MATH</td>
            <td>1314</td>
            <td>None</td>
        </tr>
    </table>

    <p>Marco's Future Semester 2</p>
    <table>
        <tr>
            <th>Recommendation 2</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Intro to Computer Science</td>
            <td>CSCI</td>
            <td>1101</td>
            <td>None</td>
        </tr>
    </table>

    <p>Marco's Future Semester 3</p>
    <table>
        <tr>
            <th>Recommendation 3</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Composition Theory & Pedagogy</td>
            <td>ENGL</td>
            <td>3405</td>
            <td>See Major Degree Plan or Course List for details</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "nathan@student.edu")
{
    <p>Nathan's Future Semester 1</p>
    <table>
        <tr>
            <th>Recommendation 1</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>U.S. History I</td>
            <td>HIST</td>
            <td>1344</td>
            <td>None</td>
        </tr>
    </table>

    <p>Nathan's Future Semester 2</p>
    <table>
        <tr>
            <th>Recommendation 2</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Rhetoric & Composition I</td>
            <td>ENGL</td>
            <td>1301</td>
            <td>None</td>
        </tr>
    </table>

    <p>Nathan's Future Semester 3</p>
    <table>
        <tr>
            <th>Recommendation 3</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Number Theory</td>
            <td>MATH</td>
            <td>3415</td>
            <td>See Major Degree Plan or Course List for details</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "aneyda@student.edu")
{
    <p>Aneyda's Future Semester 1</p>
    <table>
        <tr>
            <th>Recommendation 1</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>U.S. Fed Gov & Pol</td>
            <td>POLS</td>
            <td>1304</td>
            <td>None</td>
        </tr>
    </table>

    <p>Aneyda's Future Semester 2</p>
    <table>
        <tr>
            <th>Recommendation 2</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Rhetoric & Composition I</td>
            <td>ENGL</td>
            <td>1301</td>
            <td>None</td>
        </tr>
    </table>

    <p>Aneyda's Future Semester 3</p>
    <table>
        <tr>
            <th>Recommendation 3</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Senior Project</td>
            <td>CSCI</td>
            <td>3410</td>
            <td>See Major Degree Plan or Course List for details</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "jorge@student.edu")
{
    <p>Jorge's Future Semester 1</p>
    <table>
        <tr>
            <th>Recommendation 1</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>College Algebra</td>
            <td>MATH</td>
            <td>1314</td>
            <td>None</td>
        </tr>
    </table>

    <p>Jorge's Future Semester 2</p>
    <table>
        <tr>
            <th>Recommendation 2</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>U.S. History I</td>
            <td>HIST</td>
            <td>1344</td>
            <td>None</td>
        </tr>
    </table>

    <p>Jorge's Future Semester 3</p>
    <table>
        <tr>
            <th>Recommendation 3</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>U.S. Race & Ethnic Politics</td>
            <td>POLS</td>
            <td>3302</td>
            <td>See Major Degree Plan or Course List for details</td>
        </tr>
    </table>
}

@if (@User.Identity?.Name == "steph@student.edu")
{
    <p>Stepanie's Future Semester 1</p>
    <table>
        <tr>
            <th>Recommendation 1</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Intro to Computer Science</td>
            <td>CSCI</td>
            <td>1101</td>
            <td>None</td>
        </tr>
    </table>

    <p>Stepanie's Future Semester 2</p>
    <table>
        <tr>
            <th>Recommendation 2</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Rhetoric & Composition I</td>
            <td>ENGL</td>
            <td>1301</td>
            <td>None</td>
        </tr>
    </table>

    <p>Stepanie's Future Semester 3</p>
    <table>
        <tr>
            <th>Recommendation 3</th>
            <th>Course Subject</th>
            <th>Course Number</th>
            <th>Course Prerequisites</th>
        </tr>
        <tr>
            <td>Senior Research Seminar</td>
            <td>HIST</td>
            <td>3346</td>
            <td>See Major Degree Plan or Course List for details</td>
        </tr>
    </table>
}


@if (@User.Identity?.Name == "marco@advisor.edu" || @User.Identity?.Name == "nathan@advisor.edu")
{
    <p>
    Please input the email of the student who's Roadmap you wish to see.
    </p>

    <form method="POST" asp-action="AdvisorRoadmap">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Submit">
    </form>
}
